.main {
  min-height: calc(100vh - 151px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.filter {
  width: 100%;
}

.default-text {
  position: absolute;
  top: calc(100vh - 50%);
}

.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  max-width: 300px;
  min-width: 250px;
  margin: 10px;
}

.h3 {
  margin: 0;
}
