.shadow-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.active {
  display: block;
}

.modal {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.modal-body {
  max-height: 500px;
  overflow-y: scroll;
}